{% extends 'base.html' %}


{% block page_title %}
Search
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}


{% block content %}
<h2>search</h2>
<form method="get" action="{% url 'rooms:search' %}">
    {{form.as_p}}
    <button>Search</button>
</form>

<h3>Result</h3>
{% for room in rooms %}
{{room.name}}<br>
{% endfor %}


{% if rooms.has_previous %}
<a href="?page={{rooms.previous_page_number}}">Previous</a>
{% endif %}

Page {{rooms.number}} for {{rooms.paginator.num_pages}}

{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}">Next</a>
{% endif %}


<h4>
{% if rooms.has_previous %}
    <a href="?page={[{rooms.number|add:-1}}">Previous</a>
{% endif %}

Page {{rooms.number}} of {{rooms.paginator.num_pages}}

{% if rooms.has_next %}
    <a href="?page={{rooms.number|add:1}}">Next</a>
{% endif %}
</h4>
{% endblock content %}